*{ 
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    background: rgb(0,21,71);
}
.navbar{
    display: flex;
    align-items: center;
}
.logo img {
    width: 40px;
    height: 40px;
    border-radius:50px ;
    padding: 8px;
}
.navbar ul {
    display: flex;
    color: aliceblue;
    list-style-type: none;
}
.logo-name {
    color: aliceblue;
    padding: 12px;
    align-items: center;
}
.navbar a {
    color: aliceblue;
    padding: 8px;
    text-decoration: none;
}
.header2 {
    display: flex;
    justify-content: space-between;
    background: rgb(71, 0, 0);
}
.header3 {
        display: flex;
        justify-content: space-between;
        background: rgb(21, 22, 1);
}
body {
    background: #edf;
}
.main{
    display: flex;
    margin: 1rem;
}
aside{
    width: 25%;
    margin-right: 25px;
}
main{
    width: 75%;
}
aside , main {
    background: #ffffff;
    height: 600px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 1) ;
    border-radius: 5px;
    padding: 1rem;
}
.cards{
    width: calc(100%-6rem);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 30px;

}
.card-image {
    width: 50%;
    height: 50px;
    display: block;
    background: #fafafa;
}
.card-content{
    line-height: 1.5rem;
    font-size: 0.9rem;
    padding: 15px;
    background: #fafafa;
}