* {
    margin: 0px;
    padding: 0px;
    background-color: rgb(236, 236, 236);
}
header {
    
    background-color: blueviolet;
    text-align: center;
    padding: 2% 0;
}
#idh1-1 {
    background-color: blueviolet;
    padding: 10px;
    color: aliceblue;
}
header nav ul {
    background-color: blueviolet;
    list-style: none;
    padding: 10px;
}
header nav ul li {
    background-color: blueviolet;
    display: inline;
    margin: 10px 15px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    color: aliceblue;
}
main {
    height: 40rem;
    background-color: aliceblue;
    border-radius: 8px;
    padding: 20px 20px 20px 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
main article {
    background-color: aliceblue;
    border-radius: 8px;
    padding: 20px 20px 20px 20px;
    margin: 20px;
}
article h2 {
    background-color: aliceblue;
}
article p {
    background-color: aliceblue;
}
footer {
    background-color: blueviolet;
    padding: 1rem;
}
footer p {
    background-color: blueviolet;
    text-align: center;
    color: aliceblue;
}
